:root {
  --bg: #fefff4;
  --primary: #570301;
  --secondary: #ec8d5f;
  --accent: #f6bad6;
  --info: #bbd6fd;
  --highlight: #f8e593;

  --text: #570301;
  --card-bg: #ffffff;
  --border: #ec8d5f33;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
}

button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

input, select {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: var(--accent);
}

td, th {
  border: 1px solid var(--border);
  padding: 6px;
}